# Example 1

In [1]:
import sqlite3 as dbapi

In [2]:
con = dbapi.connect('population.db')

In [3]:
cur = con.cursor()

In [4]:
cur.execute('CREATE TABLE PopByRegion(Region TEXT, Population INTEGER)')

In [5]:
cur.execute('INSERT INTO PopByRegion VALUES("Central Africa", 330993)')

In [6]:
cur.execute('INSERT INTO PopByRegion VALUES("Southeastern Africa", 743112)' )

In [7]:
cur.execute('INSERT INTO PopByRegion VALUES("Japan", 100562)')

In [8]:
con.commit()

In [9]:
cur.execute('SELECT Region, Population FROM PopByRegion')

In [10]:
print cur.fetchone()

(u'Central Africa', 330993)

In [11]:
con.text_factory = str

In [12]:
print cur.fetchone()

(u'Southeastern Africa', 743112)

In [13]:
print cur.fetchall()

[('Japan', 100562)]

In [14]:
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region')

In [15]:
cur.fetchall()

[('Central Africa', 330993),
 ('Japan', 100562),
 ('Southeastern Africa', 743112)]

In [16]:
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region DESC')

In [17]:
print cur.fetchall()

[('Southeastern Africa', 743112), ('Japan', 100562), ('Central Africa', 330993)]

In [18]:
cur.execute('UPDATE PopByRegion SET Population =100600 WHERE Region="Japan"')

In [19]:
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')

In [20]:
cur.fetchall()

[('Japan', 100600)]

In [21]:
cur.execute('INSERT INTO PopByRegion VALUES ("Mars", NULL)')

# Example 2

In [22]:
cur.execute('CREATE TABLE PopByCountry(Region TEXT, Country TEXT, Population INTEGER)')

In [23]:
cur.execute('INSERT INTO PopByCountry VALUES("Eastern Asia", "China",1285238)')

In [24]:
countries = [("Eastern Asia", "DPR Korea", 24056), ("Eastern Asia", "Hong Kong (China)", 8764), ("Eastern Asia", "Mongolia", 3407), ("Eastern Asia", "Republic of Korea", 41491), ("Eastern Asia", "Taiwan", 1433), ("North America", "Bahamas", 368), ("North America", "Canada", 40876), ("North America", "Greenland", 43), ("North America", "Mexico", 126875), ("North America", "United States", 493038)]

In [25]:
for c in countries:
    cur.execute('INSERT INTO PopByCountry VALUES(?,?,?)', (c[0], c[1], c[2]))

In [26]:
con.commit()

# Problem 3

In [27]:
con = dbapi.connect('pro3.db')
cur = con.cursor()

cur.execute('CREATE TABLE Numbers(Val INTEGER)')
cur.execute('INSERT INTO Numbers Values(1)')
cur.execute('INSERT INTO Numbers Values(2)')

In [28]:
cur.execute('SELECT * FROM Numbers WHERE 1/0')

In [29]:
cur.fetchall()

[]

In [30]:
cur.execute('SELECT * FROM Numbers WHERE 1/0 AND Val > 0')

In [31]:
cur.execute('SELECT * FROM Numbers WHERE Val > 0 AND 1/0')

SELECT statement return blank result, Python notify an error. Because SQL just doesn't find the data, it doesn't need to produce an error.

# Problem 4

In [53]:
def run_query(db, query, value=None):
    '''Return the results of running the given query on database db.'''
    con = dbapi.connect(db)
    cur = con.cursor()
    if not value:
        cur.execute(query)
    else:
        cur.execute(query, value)
    data = cur.fetchall()
    cur.close()
    con.close()
    return data

In [54]:
run_query('population.db', 'SELECT * FROM PopByRegion WHERE Region =(?)', ("Japan",))

[(u'Japan', 100600)]

In [55]:
run_query('population.db', 'SELECT * FROM PopByRegion')

[(u'Central Africa', 330993),
 (u'Southeastern Africa', 743112),
 (u'Japan', 100600),
 (u'Mars', None)]