# Example 1

In [1]:
import sqlite3 as dbapi

In [2]:
con = dbapi.connect('population.db')

In [3]:
cur = con.cursor()

In [4]:
cur.execute('CREATE TABLE PopByRegion(Region TEXT, Population INTEGER)')

In [5]:
cur.execute('INSERT INTO PopByRegion VALUES("Central Africa", 330993)')

In [6]:
cur.execute('INSERT INTO PopByRegion VALUES("Southeastern Africa", 743112)' )

In [7]:
cur.execute('INSERT INTO PopByRegion VALUES("Japan", 100562)')

In [8]:
con.commit()

In [9]:
cur.execute('SELECT Region, Population FROM PopByRegion')

In [10]:
print cur.fetchone()

(u'Central Africa', 330993)

In [11]:
con.text_factory = str

In [12]:
print cur.fetchone()

(u'Southeastern Africa', 743112)

In [13]:
print cur.fetchall()

[('Japan', 100562)]

In [14]:
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region')

In [15]:
cur.fetchall()

[('Central Africa', 330993),
 ('Japan', 100562),
 ('Southeastern Africa', 743112)]

In [16]:
cur.execute('SELECT Region, Population FROM PopByRegion ORDER BY Region DESC')

In [17]:
print cur.fetchall()

[('Southeastern Africa', 743112), ('Japan', 100562), ('Central Africa', 330993)]

In [18]:
cur.execute('UPDATE PopByRegion SET Population =100600 WHERE Region="Japan"')

In [19]:
cur.execute('SELECT * FROM PopByRegion WHERE Region = "Japan"')

In [20]:
cur.fetchall()

[('Japan', 100600)]

In [21]:
cur.execute('INSERT INTO PopByRegion VALUES ("Mars", NULL)')

# Example 2

In [22]:
cur.execute('CREATE TABLE PopByCountry(Region TEXT, Country TEXT, Population INTEGER)')

In [23]:
cur.execute('INSERT INTO PopByCountry VALUES("Eastern Asia", "China",1285238)')

In [24]:
countries = [("Eastern Asia", "DPR Korea", 24056), ("Eastern Asia", "Hong Kong (China)", 8764), ("Eastern Asia", "Mongolia", 3407), ("Eastern Asia", "Republic of Korea", 41491), ("Eastern Asia", "Taiwan", 1433), ("North America", "Bahamas", 368), ("North America", "Canada", 40876), ("North America", "Greenland", 43), ("North America", "Mexico", 126875), ("North America", "United States", 493038)]

In [25]:
for c in countries:
    cur.execute('INSERT INTO PopByCountry VALUES(?,?,?)', (c[0], c[1], c[2]))

In [26]:
con.commit()

# Problem 1

In [27]:
import sqlite3 as dbapi

con = dbapi.connect('census.db')
cur = con.cursor()

In [28]:
cur.execute('CREATE TABLE Density(Name TEXT, Pop INTEGER, Area REAL)')

In [29]:
cur.execute('INSERT INTO Density Values("Newfoundland and Labrador",512930,370501.69)')
cur.execute('INSERT INTO Density Values("Prince Edward Island",135294,5684.39)')
cur.execute('INSERT INTO Density Values("Nova Scotia", 908007,52917.43)')
cur.execute('INSERT INTO Density Values("New Brunswick", 729498, 71355.67)')
cur.execute('INSERT INTO Density Values("Quebec", 7237479, 1357743.08)')
cur.execute('INSERT INTO Density Values("Ontario", 11410046, 907655.59)')
cur.execute('INSERT INTO Density Values("Manitoba", 1119583, 551937.87)')
cur.execute('INSERT INTO Density Values("Saskatchewan", 978933, 586561.35)')
cur.execute('INSERT INTO Density Values("Alberta", 2974807, 639987.12)')
cur.execute('INSERT INTO Density Values("British Columbia", 3907738, 926492.48)')
cur.execute('INSERT INTO Density Values("Yukon Territory", 28674, 474706.97)')
cur.execute('INSERT INTO Density Values("Northwest Territories", 37360, 1141108.37)')
cur.execute('INSERT INTO Density Values("Nunavut", 26745, 1925460.18)')
con.commit()

In [30]:
cur.execute('SELECT * FROM Density')
cur.fetchall()

[(u'Newfoundland and Labrador', 512930, 370501.69),
 (u'Prince Edward Island', 135294, 5684.39),
 (u'Nova Scotia', 908007, 52917.43),
 (u'New Brunswick', 729498, 71355.67),
 (u'Quebec', 7237479, 1357743.08),
 (u'Ontario', 11410046, 907655.59),
 (u'Manitoba', 1119583, 551937.87),
 (u'Saskatchewan', 978933, 586561.35),
 (u'Alberta', 2974807, 639987.12),
 (u'British Columbia', 3907738, 926492.48),
 (u'Yukon Territory', 28674, 474706.97),
 (u'Northwest Territories', 37360, 1141108.37),
 (u'Nunavut', 26745, 1925460.18)]

In [31]:
cur.execute('SELECT Pop FROM Density')
cur.fetchall()

[(512930,),
 (135294,),
 (908007,),
 (729498,),
 (7237479,),
 (11410046,),
 (1119583,),
 (978933,),
 (2974807,),
 (3907738,),
 (28674,),
 (37360,),
 (26745,)]

In [32]:
cur.execute('SELECT Name FROM Density WHERE Pop <1000000')
cur.fetchall()

[(u'Newfoundland and Labrador',),
 (u'Prince Edward Island',),
 (u'Nova Scotia',),
 (u'New Brunswick',),
 (u'Saskatchewan',),
 (u'Yukon Territory',),
 (u'Northwest Territories',),
 (u'Nunavut',)]

In [33]:
cur.execute('SELECT Name FROM Density WHERE Pop <1000000 OR Pop >5000000')
cur.fetchall()

[(u'Newfoundland and Labrador',),
 (u'Prince Edward Island',),
 (u'Nova Scotia',),
 (u'New Brunswick',),
 (u'Quebec',),
 (u'Ontario',),
 (u'Saskatchewan',),
 (u'Yukon Territory',),
 (u'Northwest Territories',),
 (u'Nunavut',)]

In [34]:
cur.execute('SELECT Name FROM Density WHERE not (Pop <1000000 OR Pop >5000000)')
cur.fetchall()

[(u'Manitoba',), (u'Alberta',), (u'British Columbia',)]

In [35]:
cur.execute('SELECT Pop FROM Density WHERE  Area >200000')
cur.fetchall()

[(512930,),
 (7237479,),
 (11410046,),
 (1119583,),
 (978933,),
 (2974807,),
 (3907738,),
 (28674,),
 (37360,),
 (26745,)]

In [47]:
cur.execute('SELECT Name, Pop/Area FROM Density')
cur.fetchall()

[(u'Newfoundland and Labrador', 1.384420135843375),
 (u'Prince Edward Island', 23.8009707286094),
 (u'Nova Scotia', 17.15893988048928),
 (u'New Brunswick', 10.223406212848959),
 (u'Quebec', 5.330521736115201),
 (u'Ontario', 12.570898175154742),
 (u'Manitoba', 2.0284583842743027),
 (u'Saskatchewan', 1.6689353978062142),
 (u'Alberta', 4.648229483118348),
 (u'British Columbia', 4.217776273802028),
 (u'Yukon Territory', 0.060403579075318826),
 (u'Northwest Territories', 0.03274009812056676),
 (u'Nunavut', 0.013890185981410428)]

# Problem 2

In [37]:
cur.execute('CREATE TABLE Capitals(Name TEXT, Cap TEXT, Pop INTEGER)')

In [38]:
cur.execute('INSERT INTO Capitals Values("Newfoundland and Labrador", "St. John’s", 172918)')
cur.execute('INSERT INTO Capitals Values("Prince Edward Island", "Charlottetown", 58358)')
cur.execute('INSERT INTO Capitals Values("Nova Scotia", "Halifax", 359183)')
cur.execute('INSERT INTO Capitals Values("New Brunswick", "Fredericton", 81346)')
cur.execute('INSERT INTO Capitals Values("Quebec", "Quebec", 682757)')
cur.execute('INSERT INTO Capitals Values("Ontario", "Toronto", 4682897)')
cur.execute('INSERT INTO Capitals Values("Manitoba", "Winnipeg", 671274)')
cur.execute('INSERT INTO Capitals Values("Saskatchewan", "Regina", 192800)')
cur.execute('INSERT INTO Capitals Values("Alberta", "Edmonton", 937845)')
cur.execute('INSERT INTO Capitals Values("British Columbia", "Victoria", 311902)')
cur.execute('INSERT INTO Capitals Values("Yukon Territory", "Whitehorse", 21405)')
cur.execute('INSERT INTO Capitals Values("Northwest Territories", "Yellowknife", 16541)')
cur.execute('INSERT INTO Capitals Values("Nunavut", "Iqaluit", 5236)')

In [39]:
cur.execute('SELECT * FROM Capitals')

In [40]:
cur.fetchall()

[(u'Newfoundland and Labrador', u'St. John\u2019s', 172918),
 (u'Prince Edward Island', u'Charlottetown', 58358),
 (u'Nova Scotia', u'Halifax', 359183),
 (u'New Brunswick', u'Fredericton', 81346),
 (u'Quebec', u'Quebec', 682757),
 (u'Ontario', u'Toronto', 4682897),
 (u'Manitoba', u'Winnipeg', 671274),
 (u'Saskatchewan', u'Regina', 192800),
 (u'Alberta', u'Edmonton', 937845),
 (u'British Columbia', u'Victoria', 311902),
 (u'Yukon Territory', u'Whitehorse', 21405),
 (u'Northwest Territories', u'Yellowknife', 16541),
 (u'Nunavut', u'Iqaluit', 5236)]

In [44]:
cur.execute('SELECT Density.Pop, Capitals.Pop FROM Density INNER JOIN Capitals WHERE Density.Name = Capitals.Name')
cur.fetchall()

[(512930, 172918),
 (135294, 58358),
 (908007, 359183),
 (729498, 81346),
 (7237479, 682757),
 (11410046, 4682897),
 (1119583, 671274),
 (978933, 192800),
 (2974807, 937845),
 (3907738, 311902),
 (28674, 21405),
 (37360, 16541),
 (26745, 5236)]

In [45]:
cur.execute('SELECT Density.Area FROM Density INNER JOIN Capitals WHERE Density.Name = Capitals.Name and Capitals.Pop >100000')
cur.fetchall()

[(370501.69,),
 (52917.43,),
 (1357743.08,),
 (907655.59,),
 (551937.87,),
 (586561.35,),
 (639987.12,),
 (926492.48,)]

In [48]:
cur.execute('''SELECT Density.Name FROM Density INNER JOIN Capitals 
WHERE Density.Name = Capitals.Name and Capitals.Pop >500000 and Density.Pop/Density.Area <2''')
cur.fetchall()

[]

In [51]:
cur.execute('SELECT sum(Area) FROM Density')
cur.fetchall()

[(9012112.19,)]

In [52]:
cur.execute('SELECT AVG(Pop) FROM Capitals')
cur.fetchall()

[(630343.2307692308,)]

In [56]:
cur.execute('SELECT Pop FROM Capitals ORDER BY Pop ASC')
cur.fetchall()[0]

(5236,)

In [58]:
cur.execute('SELECT Pop FROM Capitals ORDER BY Pop DESC')
cur.fetchall()[0]

(4682897,)

In [59]:
cur.execute('SELECT Pop FROM Density ORDER BY Pop DESC')
cur.fetchall()[0]

(11410046,)

In [63]:
cur.execute('''SELECT A.Name, B.Name FROM Density A INNER JOIN Density B 
WHERE A.Pop/A.Area <= B.Pop/B.Area*0.5''')
cur.fetchall()[0]

(u'Newfoundland and Labrador', u'Prince Edward Island')

# Problem 3

In [64]:
con = dbapi.connect('pro3.db')
cur = con.cursor()

cur.execute('CREATE TABLE Numbers(Val INTEGER)')
cur.execute('INSERT INTO Numbers Values(1)')
cur.execute('INSERT INTO Numbers Values(2)')

OperationalError: table Numbers already exists

In [65]:
cur.execute('SELECT * FROM Numbers WHERE 1/0')

In [66]:
cur.fetchall()

[]

In [67]:
cur.execute('SELECT * FROM Numbers WHERE 1/0 AND Val > 0')

In [68]:
cur.execute('SELECT * FROM Numbers WHERE Val > 0 AND 1/0')

SELECT statement return blank result, Python notify an error. Because SQL just doesn't find the data, it doesn't need to produce an error.

# Problem 4

In [69]:
def run_query(db, query, value=None):
    '''Return the results of running the given query on database db.'''
    con = dbapi.connect(db)
    cur = con.cursor()
    if not value:
        cur.execute(query)
    else:
        cur.execute(query, value)
    data = cur.fetchall()
    cur.close()
    con.close()
    return data

In [70]:
run_query('population.db', 'SELECT * FROM PopByRegion WHERE Region =(?)', ("Japan",))

[(u'Japan', 100600)]

In [71]:
run_query('population.db', 'SELECT * FROM PopByRegion')

[(u'Central Africa', 330993),
 (u'Southeastern Africa', 743112),
 (u'Japan', 100600),
 (u'Mars', None)]